html, body {
  background-color: rgb(164, 164, 164);
  font-family: 'Arial', sans-serif
  
}

#kh_img {
  width: 500px;
  height: 400px;
}

#title_img{
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu_nav {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(0, 157, 224);
  padding: 30px;
}

.button_menu {
  font-size: 15px;
  width: 200px;
  height: 50px;
  border-radius: 15%;
  text-decoration: none;
  background-color: rgb(255, 217, 0);
  margin: 3px;
  padding: 8px;

}
.button_menu:hover{
  background-color: white;
}
#footer{
  color: white;
  text-align: center;
}

#title_about, #content_about, #disclaimer, #about, #kh4{
  text-align: center;
}
.kh_posters{
  max-width: 400px;
  max-height: 400px;
}
.kh_games{
  display: flex;
  flex-wrap: wrap;
}
.game-name{
  font-weight: bold;
  color: rgb(0, 0, 0);
}



