html, body {
  background-color: grey;
  font-family: 'Arial', sans-serif
  
}

#kh_img {
  width: 500px;
  height: 300px;
}

#title_img{
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu_nav {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(0, 157, 224);
}

.button_menu {
  border-radius: 15%;
  text-decoration: none;
  background-color: rgb(255, 217, 0);
  margin: 20px;
  padding: 3px;

}
.button_menu:hover{
  background-color: lightgrey;
}
#footer{
  font-weight: bold;
  -webkit-text-stroke: 0.7px black;
  color: white;
  text-align: center;
}


