{% extends "base.html" %}

{% block pageBase %}

<body>
    <h2 id="title_about">About this page and whats Kingdom Hearts about</h2>
    <p id="content_about">This page is a fan made project to practice and learn HTML5 & CSS,<br>
        and if you are a Kingdom Hearts fan, maybe you also like the content! <br>
        And if you are not a fan, Kingdom Hearts is an action role-playing game <br>
        series that blends fantasy, adventure, and emotion in a unique <br>
        It brings together original characters and worlds inspired by Disney, <br>
        all connected through an ongoing battle between light and darkness. <br>
    </p>
    
</body>

{% endblock %}